.App {
  text-align: center;
}

.red {
	color: tomato;
}

.bold {
	font-weight: bold;
}

.App button {
	background-color: #70a970;
  font: inherit;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 2px #ccc;
  outline: none;
}

.App button:hover {
	background-color: darkseagreen;
}

.App button.red {
	background-color: tomato;
	color: black;
}

.App button.red:hover {
	background-color: salmon;
	color: black;
}